# Игнорирование файлов базы данных SQLite
*.sqlite3

*.pyc
__pycache__/

# Игнорирование миграций Django
**/migrations/

# Игнорирование файлов настроек локального окружения
.env

# Игнорирование файлов отладочной информации
*.pyc
__pycache__/

# Игнорирование файлов конфигурации IDE (пример для Visual Studio Code)
.vscode/

# Игнорирование файлов для виртуального окружения (пример для virtualenv и venv)
venv/
env/

# Игнорирование файлов настроек для PyCharm
.idea/
